<div class="container-fluid mt-4">
    <h4>Sports News <marquee>For More News Updates Subscribe Our channel </marquee> </h4>

    <div class="row mt-2">
        <div *ngFor="let  nd of sportnews" class="col-lg-3 mt-3 mb-3">
            <div class="box">
                <img src="{{nd.urlToImage}}" width="100%" alt="">
                <h5 class="mt-3 mb-3">{{nd.title}}</h5>
                <!-- <p>{{nd.content}}</p> -->
                <a class="btn btn-dark btn-sm" target="_black" href="{{nd.url}}">Read More</a>
            </div>
        </div>
    </div>
</div>


