

<nav class="navbar navbar-expand-lg bg-blue" style="background-color:lightgreen;">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size:50px; color: red;" routerLink="">NEWS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" style="font-size: 30px;" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" style="font-size: 30px;" routerLink="technews">Technology</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" style="font-size: 30px;" routerLink="business">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" style="font-size: 30px;" routerLink="sportsnews">Sports</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>







<router-outlet></router-outlet>
<footer>
  <p class="text-center" style="font-weight: bold;">&copy; & &reg; by NEWS 2023</p>
</footer>
